<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/logos/pushp.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/hamburger.css">
    <link rel="stylesheet" href="/css/clients.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/whysus.css">
    <link rel="stylesheet" href="/css/slideshow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Pushp Logistics</title>
</head>
<body>
    <div id="home"></div>
    <div class="navbar">
        <ul class="menu">
            <li><a class="menuItem" href="#home">HOME</a></li>
            <li><a class="menuItem" href="#aboutscroll">ABOUT US</a></li>
            <li><a class="menuItem" href="#whyscroll" style="margin-bottom: 25px;">WHY US</a></li>
            <li><a class="menuItem" href="#servicescroll">SERVICES</a></li>
            <li><a class="menuItem" href="#contactscroll">CONTACT US</a></li>
          </ul>
        <button class="hamburger">
        <i class="menuIcon material-icons" id="material-icons" style="font-size:35px;">menu</i>
        <i class="closeIcon material-icons"  style="font-size:35px;display: none;">close</i>
        </button>
        <div class="logo">
            <img src="/images/pushp-removebg-preview 1.png" alt="">
        </div>
        <div class="navOptions">
            <ul id="linkss">
                <li><a href="#home">Home</a></li>
                <li><a href="#aboutscroll">About Us</a></li>
                <li><a href="#whyscroll">Why Us</a></li>
                <li><a href="#servicescroll">Services</a></li>
                <li><a href="#contactscroll">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="home">
        <div class="homeContent">
            <h1 class="firstLine">Welcome To</h1>
            <h1 class="secondLine">PUSHP LOGISTICS.</h1>
            <hr class="thirdLine">
            <h1 class="fourthLine">We at Pushp Logistics offer comprehensive custom-designed logistics solutions to our clients, ensuring sustainable growth and development. </h1>
            <button class="read_more" style="cursor:pointer; position: relative; font-weight: unset;"> <a href="#aboutscroll" style="color: white;text-decoration: none;">Read More</a> </button>
        </div>
    </div>


    <div class="about_whole">
        <div id="aboutscroll" style="position: relative; top: -80px;"></div>
        <div class="aboutUs">
            <div class="content">
                <h1>ABOUT US</h1>
                <p>
                    Pushp Logistics Private Limited got established in April 2005 with our head office in Gurugram, India, and branches in Delhi/NCR, Rudrapur, Haridwar, Vapi, Bengaluru, and Chennai.
                    <br>
                    <br>
                    Our vast & varied understanding of the freight forwarding industry enables us to cater to the specific requirements of our customers at all times. We believe in creating and maintaining long-term business relationships with our clients.
                    <br>
                    <br>
                    Our experience, combined with highly advanced information technology, enables us to move the consignments swiftly, safely & timely with the entire satisfaction of our esteemed customers.
                </p>
                <div class="icons">
                    <a href="https://maps.google.com/maps?ll=28.440107,77.014696&z=13&t=m&hl=en&gl=IN&mapclient=embed&cid=1709639936416524059" target="_blank"><img src="/images/aboutus/location.svg" alt=""></a>
                    <a href="mailto:pushp.ecologistics@pushplogistics.com?subject = Feedback&body = Message"><img src="/images/aboutus/mail.svg" alt=""></a>
                </div>
    
            </div>
            <div class="img">
                <img src="/images/aboutus/truck.jpg" alt="">
            </div>
        </div>
    </div>
    


    <div class="whyus">
        <div id="whyscroll" style="position: relative; top: -80px;"></div>
         <div class="heading">
             <h1 style="color: white;">WHY US</h1>
         </div>
         <div class="whole">
            <div class="whycontainer">
                <div class="whyussection1 a">
                   <div class="icon">
                       <div class="topic">
                           <h1>Professionalism</h1>
                       </div>
                       <div class="logo1">
                           <img src="/images/whyus/Professional.png" alt="">
                       </div>
                   </div>
                   <p>A team of highly skilled and experienced professionals that adhere to and constantly work to provide you with the best services. We operate a 24-hour control screen along with GPS truck tracking.</p>
                </div> 
                <div class="whyussection2 b">
                    <div class="icon">
                        <div class="topic">
                            <h1>Your Fulfilment</h1>
                        </div>
                        <div class="logo1">
                            <img src="/images/whyus/fullfillment.png" alt="">
                        </div>
                    </div>
                    <p>We believe in continuously improving and reviewing our services to deliver high-standard logistics solutions and meet our client's needs and satisfaction. </p>
               </div>
            </div>
            <div class="whycontainer">
               <div class="whyussection1">
                <div class="icon">
                    <div class="topic">
                        <h1>On-Time Response</h1>
                    </div>
                    <div class="logo1">
                        <img src="/images/whyus/ontime.png" alt="">
                    </div>
                </div>
                <p>Timely response, completion & delivery of clients' requirements. Generation of Rule-based alerts for Consignment Delivery, Excessive Stoppage, and Route Deviation. History Analysis feature that facilitates the user to view the movement history of any vehicle for a selected time period.</p>
               </div>
               <div class="whyussection2">
                <div class="icon">
                    <div class="topic">
                        <h1>Facilities & Flexibility</h1>
                    </div>
                    <div class="logo1">
                        <img src="/images/whyus/facility.png" alt="">
                    </div>
                </div>
                <p>We take complete responsibility for transporting the goods to the destination with utmost care. We recognize all the trucks estimated time of arrival on daily basis and lead delaying trucks to be on schedule. Our transportation services follow customer-defined standards to deliver services on time, ensuring safety & quality of products. </p>
              </div>
           </div>
         </div>
    </div>
    <div class="services">
        <div id="servicescroll" style="position: relative; top: -80px;"></div>
        <div class="aboutUs">
            <div class="content">
                <h1>SERVICES</h1>
                <p>
                    We are one of the leading logistics service providers in India for finished vehicle logistics and tamper-proof transit: <br>
                    <br>
                    <p  style="font-weight: 500;">
                        •  Short & Long distance Transportation <br>•	GPS Tracking <br>•	24x7 Control Screen Monitoring <br> •	24x7 Cargo marking facility <br>•	 Door-to-door Delivery <br>•	Hassle-free Documentation
                    </p>
                    
                    
                </p>
            </div>
            <div class="img">
                <img src="/images/services/pushp-removebg-preview.png" alt="">
            </div>
            </p>
        </div>
        <div class="services_content">
            Pushp Logistics offers a variety of cost-effective and customizable road transport logistics solutions. We offer long-distance as well as short-distance transportation services pan India. Our extensive network coverage in India, effective cargo services, and more than 15 years of experience in serving some of the biggest automobile companies make us a preferred logistics partner.
            <br>
            <br>
            Pushp Logistics provides efficient, professional, and competitive express services which are personalized and dedicated for all your transportation needs. Our vast experience in the domain ensures our customers a reliable door-to-door transport solution for their cargo. We deliver pan India across towns, taking care of all the necessary paperwork along the route with continuous tracking facilities. Pushp Logistics is your answer to the delivery of all time-critical as well as recurring cargo. 
            <br>
            <br>
            Pushp Logistics guarantees speed, reliability, & safety. For more information on the capacity of our trucks do not hesitate to contact us, together we can define the best solution to transport your goods by road.
        </div>
        
 
    </div>
    
    <div class="heading">
        <h1 style="text-align: center;">CLIENT</h1>
    </div>
    <div class="clients">
        <div class="slider">
            <div class="slider-row"></div>
        </div>
    </div>
    <div class="awards">
        <div class="heading">
            <h1 style="text-align: center;">AWARDS</h1>
        </div>
        <p style="text-align: center; padding:0 30px; margin-bottom: 40px;">We are pleased to be recognized and awarded by our clients, these are a few of the achievements we take pride in.</p>
        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="/images/awards/1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="/images/awards/2.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="/images/awards/3.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/awards/4.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/awards/5.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/awards/6new.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/awards/7new.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/images/awards/8new.jpg" style="width:100%">
            </div>
            
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <button id="next" class="next" onclick="plusSlides(1)">&#10095;</button>
            
            </div>

            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span> 
                <span class="dot" onclick="currentSlide(8)"></span>                  
            </div>
    </div>
    

      
      <div class="contact_container">
        <div id="contactscroll" style="position: relative; top: -80px;"></div>
        <div id="inf" class = "half1">
            <h1>Contact Us</h1>
            <div id="phone" class="data">
                <div id="icon">
                    <img src="/images/contact/phone.svg" alt="">
                </div>
                <div id="text">
                    <p>+91 7015278354</p>
                </div>
            </div>

            <div id="mail" class="data">
                <div id="icon">
                    <img src="/images/contact/mail.svg" alt="">
                </div>
                <div id="text">
                    <a href = "mailto:pushp.ecologistics@pushplogistics.com?subject = Feedback&body = Message" style="color: white;">pushp.ecologistics@pushplogistics.com</a>
                </div>
            </div>

            <div id="location" class="data">
                <div id="icon">
                    <img src="/images/contact/map-pin.svg" alt="">
                </div>
                <div id="text">
                    <p>36.5 KM Stone ; NH-8 ; Opp. Pace City Indian Oil Pump, <br>
                        Sec -33 Transport Nagar , Near Hero Honda Parking ,
                        Gurgaon-122001(HR)</p>
                </div>  
            </div>
        </div>
        <div id="map" class = "half2">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28066.289992366816!2d77.00684249200441!3d28.440786248050916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17b9dc76cfeda71b!2sPushp%20Logistics!5e0!3m2!1sen!2sin!4v1637847025823!5m2!1sen!2sin" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <div class="footer" style="padding: 40px 50px; font-size: 13px;background-color: #002D56;">
        <p style="color: white; text-align: left;line-height: 30px;">© 2021 Pushp Logistics Pvt. Ltd. <br></p>
        <p style="color: white;">Designed and Developed by - <a target= "_blank" href="https://www.thedigitalnarrators.com/" style="color: white; cursor: pointer;">The Digital Narrators.</a></p>
    </div>
    <script src="/js/slideshow.js"></script>
    <script src="/js/hamburger.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/click.js"></script>
</body>
</html>